# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np
import pandas as pd


def calculate_moving_average(array, length, window_size):
    moving_average_list,count = [],0
    while(count < (length-window_size+1)):
        start,end,window_sum = count,count + window_size,0
        while(start<end):
            window_sum += array[start]
            start = start+1
        moving_average_list.append(round(window_sum/window_size,2))
        count = count+1
    return moving_average_list


input_array = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
length = len(input_array)
window_size = 3

moving_average_list = calculate_moving_average(input_array, length, window_size)
print(moving_average_list)

[5.0, 4.67, 5.67, 6.67, 9.67, 28.67, 49.33, 72.67, 84.0, 93.33, 116.33]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
"""Problem Statement :
How-to-count-distance-to-the-previous-zeroFor each value, count the difference of the distance from the previous zero 
(or the startof the Series, whichever is closer) and if there are no previous zeros,print the positionConsider a 
DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}The values should therefore 
be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.
"""

import sys
x = [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]
zero_index = [i for i in range(len(x)) if x[i]==0]
def minimum_index(index):
    minimum =sys.maxsize
    if len(zero_index) ==0 or index < zero_index[0]:
        return index+1
    else:
        first_zero = zero_index[0]
        last_zero = zero_index[len(zero_index) -1]
        if index in zero_index and index < last_zero:
            first_zero = index
        elif index >= last_zero:
            return abs(index - last_zero)
        return abs(index - first_zero)
 
    
y = [minimum_index(i) for i in range(len(x))]
df = pd.DataFrame({'X':x,'Y':y})
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [3]:
week_days = pd.date_range(start = '2015-01-01', end = '2015-12-31', freq = 'B')
number = np.random.randn(len(week_days))
df = pd.DataFrame(number, index = week_days, columns = ['random_number'])
df.head()

            random_number
2015-01-01      -0.785098
2015-01-02      -0.448120
2015-01-05      -2.839651
2015-01-06      -0.820334
2015-01-07       0.664927